
/* ***** base ***** */

html{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-weight: 300;
	padding:0;
	border:0;
	margin:0;
}

body{
	background: #b4c0cc;
	color: #303030;	/* $color-secondary */
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	line-height: 80%;
	padding:0;
	border:0;
	margin:0;
}

blockquote {
  border-left: 2px solid #d1d1d1;
  padding: 4px 8px;
}

*,
*:after,
*:before{
	box-sizing: inherit;
}



/* ***** code ***** */



codex{
	font-family: Courier, monospace;
	font-weight: 400;
	white-space: nowrap;
	color: #111;
}

pre{
	background: #e0e0f0;
	border-left: 6px solid #2b9dca;
	padding: 4px;
	padding-left: 12px;
	font-family: Courier, monospace;
	margin-left: 80px;
	margin-right: 80px;
}

pre>code{
	white-space: pre;
	font-weight: 300;
}



/* ***** link ***** */

a{
	color: #2b2dca;	/* $color-primary */
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

a:hover{
	color: #606cf6;	/* $color-secondary */
}



/* ***** spacing ***** */

hr {
  border: 0;
  width: 100%;
  border-top: 1px solid #c4c5c6;
}

.button,
button{
	margin-bottom: 1px;
}

input,
textarea,
select,
fieldset{
	margin-bottom: 1px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form{
}



/* ***** table ***** */

table{
	table-layout: fixed;
	table-padding: 10px;
	border-spacing: 5;
	width: 80%;
	padding-left: 10%;
	margin: 16px 0;
}

table.modman{
	font-size: 90%;
	table-layout: auto;
	margin: 0;
}

thead{
	color: #dedede;
	background: #6e839a;
}

th{
	text-align: left;
	padding: 5px;
	padding-left: 15px;
}

td{
	text-align: left;
	padding: 5px;
	padding-left: 15px;
	background: #eeeef3;
}

th{
	font-weight: 600;
}

th.modman{
	padding: 0 8px;
}

td.modman{
	padding: 0 8px;
}



/* ***** typography ***** */

p{
	padding-left: 50px;
}

li{
	margin-left: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 800;
	height: 60px;
	padding-top: 40px;
	padding-left: 20px;
}

h1{
	font-size: 46px;
	background: #7e93aa;
}

h2{
	font-size: 32px;
	height: 30px;
	padding-top: 10px;
	background: #9daab8;
}

h3{
	font-size: 26px;
}

h4{
	font-size: 22px;
	height: 40px;
	padding-top: 10px;
	background: #7e93aa;
}

h5{
	font-size: 16px;
	height: 40px;
	padding-top: 10px;
	background: #9daab8;
}

h6{
	font-size: 12px;
}

/* ***** wordpress css ***** */

div.comments-area{
	background-color: #e8e8e8;
	border: 1px solid #e8e8e8;
	border-radius:3px;
	padding:8px;
}

/* ***** mx2-theme layout ***** */

body.page_body{
	position:relative;
	width:100%;
	height:100%;
}

/* parent: page_body */
div.page_header{
	position:fixed;
	width:100%;
	top:0;
	height:72px;
	border-bottom:1px solid #9b4dca;
	line-height:72px;
	text-align:center;
	background:#e8e8e8;
	z-index: 5;
}

.header_logo {
	height: 72px;
}

.header_logo a {
	display: block;
	height: 100%;
}

/* parent: page_header */
div.header_title_strip{
	display:inline;
	float:left;
}

/* parent: page_title_strip */
div.header_logo{
	float:left;
}

/* parent: page_title_strip */
div.header_text{
	float: left;
	font-size: 21px;
	letter-spacing: -0.04em;
}

/* parent: page_header */
div.header_button_strip{
	display:inline;
	float:right;
	top:0;
	bottom:0;
}

/* parent: header_button_strip */
a.header_button{
	background-color: #9b4dca;
	border: 1px solid #9b4dca;
	border-radius: 3px;
	padding: 4px 7px;
	font-size: 11px;
	font-weight: 400;
	color: #fcfcfc;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.05em;
}

a.header_button:hover{
	background-color: #606c76;
	border-color: #606c76;
	color: #fcfcfc;
	outline: 0;
}

/* parent: page_header */
div.header_donate_strip{
	display:inline;
	float:right;
}

/* parent: header_donate_strip */
form.header_paypal{
	display:inline;
}

/* parent: header_donate_strip */
a.header_patreon{
}

a.header_patreon:hover{
}

/* parent: page_body */
div.page_content{
	position:relative;
	top: 0;
	height: 100%;
	width: 100%;
	margin-top: 72px;
}

/* parent: page_content */
div.post_content{
	position: static;
	max-width: 840px;
	margin: 0 auto;
	clear: left;
}

/* parent: page_content */
div.modules_content{
	width: 100%;
	height: calc(100% - 72px);
	position: relative;
}

/* parent: modules_content */
div.modules_nav_wrapper{
	position:absolute;
	left:0;
	bottom: 0;
	width:249px;
	height:100%;
	border-right:1px solid #d1d1d1;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

/* parent: modules_nav_wrapper */
div.modules_nav_tree{
	border:0;
	width:100%;
}

/* parent: modules_content */
div.modules_docs_wrapper{
	position:absolute;
	left:250px;
	right:0;
	height:100%;
	padding:0;
	border:0;
	margin:0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

/* parent: modules_docs_wrapper */
iframe.modules_docs_iframe{
	display:block;
	width:100%;
	height:100%;
	padding:0;
	border:0;
	margin:0;
}

/* parent: modules_docs_iframe */
body.docs_body{
	width:100%;
}

/* parent: docs_body */
div.docs_content{
}

/* page styles */
body.page-modules-reference {
	overflow: hidden;
	width:100%;
	height:100%;
}

body.page-language-reference {
	overflow: hidden;
	width:100%;
	height:100%;
}

body.forums.post_content {
	max-width: 1100px;
}

div.toc{
	display:none;
}